.border {
    &-purple {
        border-color: #405FF2;
    }
}

.text {
    &-purple {
        color: #405FF2;
    }
    
    &-main-black {
        color: #050B20;
    }

    &-yellow {
        color: #E1C03F;
    }

    &-green {
        color: #60C961;
    }
}

.bg {
    &-black {
        background-color: #35394A;
    }

    &-light-black {
        background-color: #35394A;
    }

    &-dark-blue {
        background-color: #1A2E4F;
    }

    &-violet {
        background-color: #F9FBFC; 
    }

    &-dark-violet {
        background-color: #F2F4FE;
    }

    &-light-violet {
        background-color: #E9F2FF;
    }
    
    &-messy-violet {
        background-color: #ECEFFE;
    }
    
    &-purple {
        background-color: #405FF2; 
    } 

    &-light-gray {
        background-color: #F9FBFC;
    }

    &-light-blue {
        background-color: #EEF1FB;
    }
}