<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/api/modules/cms/tests" />
        <option value="$PROJECT_DIR$/api/modules/media/tests" />
        <option value="$PROJECT_DIR$/api/modules/system/tests" />
        <option value="$PROJECT_DIR$/api/modules/tailor/tests" />
        <option value="$PROJECT_DIR$/api/modules/backend/tests" />
      </list>
    </option>
  </component>
</project>